body {
    background-color: black;
    color: white;
    margin: 0 8px;
}


#victory{
    display: block;
    font-weight: bold;
    text-align: center;
}

.hidden{
    display: none;
    visibility: hidden;
}

p {
    display: inline-block;
    margin-top: 10px;
}

button{
    float: right;
}

#stage {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: white;
}

#stage div{
    width: 2%;
    height: 2%;
    font-size: 70%;
    color: black;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    outline: solid 1px lightgrey;
}

#stage div.snek0 {
    background-color: darkorange;
    border-radius: 50%;
    
}

#stage div.head0 {
    background-color: orangered;
    border-radius: 50%;
}

#stage div.snek1 {
    background-color: lightskyblue;
    border-radius: 50%;
    
}

#stage div.head1 {
    background-color: cornflowerblue;
    border-radius: 50%;
}

#stage div.snek2 {
    background-color: mediumpurple;
    border-radius: 50%;
    
}

#stage div.head2 {
    background-color: purple;
    border-radius: 50%;
}

#stage div.snek3 {
    background-color: saddlebrown;
    border-radius: 50%;
    
}

#stage div.head3 {
    background-color: brown;
    border-radius: 50%;
}

#stage div.apple {
    background-color: lawngreen;
    border-radius: 50%;
}